{% load static i18n %}

<footer class="border-t border-base-300">
	<div class="flex flex-col w-full p-8 gap-4 max-md:p-4 max-w-page mx-auto">
		<div class="grid grid-cols-3 gap-4 max-md:grid-cols-1">
			<nav>
				<h2 class="text-sm text-base-content font-bold mb-2">
					{% trans "Legal information" %}
				</h2>
				<ul>
					<li>
						<a class="link text-sm" href="{% url 'pages:privacy' %}">
							{% trans "Privacy Policy" %}
						</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'pages:offer' %}">
							{% trans "Public Offer" %}
						</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'pages:terms' %}">
							{% trans "Terms of Service" %}
						</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h2 class="text-sm text-base-content font-bold mb-2">
					{% trans "About the company" %}
				</h2>
				<ul>
					<li>
						<a class="link text-sm" href="{% url 'pages:contact' %}">{% trans "Contacts" %}</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'vacancies:list' %}">{% trans "Vacancies" %}</a>
					</li>
				</ul>
			</nav>
			<div class="ml-auto max-md:ml-0 w-fit">
				<h2 class="text-sm text-base-content font-bold mb-4">
					{% trans "Download the app" %}
				</h2>
				<div class="flex flex-col items-center gap-4 border border-base-300 p-5 rounded-box">
					<img class="size-30" src="{% static 'img/qr-code-apps.png' %}" alt="" draggable="false">
					<p class="w-40 text-xs text-center text-base-content/60">{% trans "Point your camera and download the app" %}</p>
				</div>
			</div>
		</div>
    <small class="text-sm text-base-content/60">&copy; <time datetime="2025">2025</time>-<time datetime="{% now 'Y' %}">{% now "Y" %}</time> marlinio.ru &bull; Марлин. {% trans "All rights reserved." %}</small>
	</div>
</footer>
