{% extends 'base.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero__content">
      <h2 class="hero__title">Свяжитесь с нами.</h2>
      <p class="hero__subtitle">Мы всегда на связи и будем рады ответить на ваши вопросы.</p>
  </div>
</section>
<section class="contact">
  <div class="contact__map">
    <iframe src="https://yandex.ru/map-widget/v1/-/CLQzZPjV" width="100%" height="400" frameborder="0" allowfullscreen=""></iframe>
  </div>
  <div class="contact__content">
    <div class="contact__form">
      <h2 class="contact__form-title">Напишите нам сообщение</h2>

      <form action="{% url 'pages:contact' %}" method="post" class="contact__form-body">
        {% csrf_token %}

        <div class="contact__form-group">
          <label class="contact__label" for="name">Ваше имя {% if form.name.errors %}({{ form.name.errors.as_text|slice:"2:-1"|lower }}){% endif %}</label>
          <input class="contact__input" required value="{% if form.name.value %}{{ form.name.value }}{% endif %}" type="text" id="name" name="name" placeholder="Введите имя">
        </div>
        <div class="contact__form-group">
          <label class="contact__label" for="email">Ваш email {% if form.email.errors %}({{ form.email.errors.as_text|slice:"2:-1"|lower }}){% endif %}</label>
          <input class="contact__input" required value="{% if form.email.value %}{{ form.email.value }}{% endif %}" type="email" id="email" name="email" placeholder="Введите email">
        </div>
        <div class="contact__form-group">
          <label class="contact__label" for="phone">Телефон {% if form.phone.errors %}({{ form.phone.errors.as_text|slice:"2:-1"|lower }}){% endif %}</label>
          <input class="contact__input" autocomplete="off" required value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__">
        </div>
        <div class="contact__form-group">
          <label class="contact__label" for="subject">Тема {% if form.subject.errors %}({{ form.subject.errors.as_text|slice:"2:-1"|lower }}){% endif %}</label>
          <input class="contact__input" required value="{% if form.subject.value %}{{ form.subject.value }}{% endif %}" type="text" id="subject" name="subject" placeholder="Введите тему сообщения">
        </div>
        <div class="contact__form-group">
          <label class="contact__label" for="message">Сообщение {% if form.message.errors %}({{ form.message.errors.as_text|slice:"2:-1"|lower }}){% endif %}</label>
          <textarea class="contact__input" required id="message" name="message" rows="3" placeholder="Введите ваше сообщение">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
        </div>
        <button type="submit" class="contact__form-button">Отправить</button>
      </form>

    </div>
    <div class="contact__list">
      <article class="contact-card">
        <h3 class="contact-card__title">Адрес</h3>
        <p class="contact-card__text">г. Москва, ул. Примерная, д. 15</p>
      </article>
      <article class="contact-card">
        <h3 class="contact-card__title">Телефон</h3>
        <p class="contact-card__text">+7 (495) 123-45-67</p>
      </article>
      <article class="contact-card">
        <h3 class="contact-card__title">Электронная почта</h3>
        <p class="contact-card__text">
          <a class="contact-card__link" href="mailto:support@marlin.ru">support@marlin.ru</a>
        </p>
      </article>
      <article class="contact-card">
        <h3 class="contact-card__title">Соцсети</h3>
        <p class="contact-card__text">
          <a class="contact-card__link" href="#">VK</a> ·
          <a class="contact-card__link" href="#">Telegram</a> ·
          <a class="contact-card__link" href="#">OK</a>
        </p>
      </article>
      <article class="contact-card">
        <h3 class="contact-card__title">Часы работы</h3>
        <p class="contact-card__text">ПН-ВС с 9:00 до 21:00</p>
      </article>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/masks.js' %}"></script>
{% endblock %}
