{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Terms of Service" %}{% endblock %}

{% block content %}
	<section class="flex flex-col gap-8 max-md:gap-4">
		<div class="flex flex-col">
			{% include "includes/_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
			<h1 class="font-bold text-base-content text-3xl max-md:text-2xl">Пользовательское соглашение</h1>
		</div>

		<div class="flex flex-col gap-4 divide-y divide-base-300">
		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">1. Общие положения</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">1.1. Настоящее Пользовательское соглашение (далее — «Соглашение») представляет собой предложение Индивидуального предпринимателя Токарева Дениса Александровича (далее — «Администрация») пользователю сети Интернет (далее — «Пользователь») использовать функциональные возможности сайта <a href="https://marlinio.ru/">https://marlinio.ru/</a> (далее — «Сайт»).</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">1.2. Использование Сайта, включая прохождение процедуры регистрации, означает полное и безоговорочное согласие Пользователя с условиями настоящего Соглашения. В случае несогласия с условиями, Пользователь обязан немедленно прекратить использование Сайта.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">1.3. Администрация оставляет за собой право вносить изменения в Соглашение без специального уведомления. Новая редакция вступает в силу с момента ее размещения на Сайте.</p>
		  </article>

		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">2. Регистрация пользователя</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">2.1. Для получения доступа к возможности оформления заказов Пользователь проходит процедуру регистрации, создавая уникальную учетную запись (личный кабинет).</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">2.2. При регистрации Пользователь обязуется предоставить достоверную информацию: ФИО, адрес электронной почты, номер телефона и имя пользователя.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">2.3. Пользователь несет личную ответственность за сохранность своих учетных данных (логина и пароля) и за любые действия, совершенные под его учетной записью.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">2.4. Регистрация на Сайте разрешена лицам, достигшим возраста 18 лет.</p>
		  </article>

		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">3. Правила пользования Сайтом</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">3.1. Сайт является платформой для ознакомления с ассортиментом продуктов питания и совершения покупок в режиме онлайн.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">3.2. Пользователю запрещено:</p>
			  <ul class="pl-10 list-disc">
				  <li class="text-justify hyphens-auto text-base text-base-content">Использовать Сайт для распространения спама или вредоносного ПО.</li>
				  <li class="text-justify hyphens-auto text-base text-base-content">Пытаться получить доступ к данным других пользователей.</li>
				  <li class="text-justify hyphens-auto text-base text-base-content">Копировать текстовые и графические материалы Сайта без письменного разрешения Администрации.</li>
			  </ul>
		    <p class="text-justify hyphens-auto text-base text-base-content">3.3. Администрация вправе заблокировать или удалить учетную запись Пользователя в случае нарушения им условий настоящего Соглашения или законодательства РФ.</p>
		  </article>

		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">4. Ограничение ответственности</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">4.1. Сайт предоставляется по принципу «как есть» (as is). Администрация не гарантирует бесперебойную работу Сайта в случае технических сбоев на стороне провайдеров или хостинга.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">4.2. Администрация не несет ответственности за убытки Пользователя, возникшие вследствие передачи им пароля третьим лицам или несанкционированного доступа к его устройству.</p>
		  </article>

		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">5. Персональные данные</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">5.1. Обработка персональных данных Пользователя осуществляется в соответствии с <a href="{% url 'pages:privacy' %}">Политикой конфиденциальности</a>.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">5.2. Нажимая кнопку «Зарегистрироваться» или «Оформить заказ», Пользователь дает согласие на обработку предоставленных данных для целей исполнения обязательств по продаже и доставке товаров.</p>
		  </article>

		  <article class="pb-4">
		    <h2 class="text-lg mb-1 font-bold text-base-content">6. Прочие условия</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">6.1. Все споры, возникающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством РФ.</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">6.2. В части оформления заказов, оплаты и возврата товара отношения сторон регулируются «Публичной офертой», размещенной на Сайте.</p>
		  </article>

		  <article>
		    <h2 class="text-lg mb-1 font-bold text-base-content">Реквизиты сторон</h2>
		    <p class="text-justify hyphens-auto text-base text-base-content">Индивидуальный предприниматель: Токарев Денис Александрович</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">ИНН: 000000000000</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">ОГРНИП: 000000000000000</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">Адрес (для корреспонденции): 000000, г. Москва, ул. Примерная, д. 15</p>
		    <p class="text-justify hyphens-auto text-base text-base-content">E-mail: <a href="mailto:legal@marlinio.ru">legal@marlinio.ru</a></p>
		  </article>
		</div>
	</section>
{% endblock %}
