.hero {
    display: flex;
    margin-top: 15px;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
    word-wrap: break-word;
    hyphens: auto;
}

.hero__subtitle {
    font-size: var(--font-size-sm);
    color: var(--text-color-muted);
}

.profile {
    display: flex;
    gap: 20px;
}

.profile__form {
    background-color: var(--block-background-color);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow);
    padding: 20px;
    flex: 1;
}

.profile__form-title {
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
    font-weight: var(--font-weight-semibold);
}

.profile__form-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile__form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile__label {
    font-size: var(--font-size-sm);
    color: var(--text-color);
}

.profile__input {
    padding: 15px;
    color: var(--text-color);
    border-radius: var(--radius-lg);
    background-color: var(--input-background-color);
    font-size: var(--font-size-sm);
    border: var(--input-border);
}

.profile__input--readonly {
    color: var(--text-color-muted);
}

.profile__form-button {
    padding: 16px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: var(--radius-lg);
    font-weight: var(--font-weight-semibold);
    margin-top: 10px;
}

.profile__form-button--delete-account {
    background-color: var(--input-background-color);
    color: var(--text-color);
}

.profile__form-button:hover {
    background-color: var(--button-background-color-hover);
}

.profile__form-button--delete-account:hover {
    background-color: var(--input-background-color);
    filter: contrast(80%);
}

.profile__errors {
    text-align: justify;
    font-size: var(--font-size-xs);
    color: var(--text-color-muted);
}
