DJANGO_SECRET_KEY=
DJANGO_DEBUG=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

CACHE_LOCATION=
RATELIMIT_CACHE_LOCATION=

CELERY_BROKER_URL=

YANDEX_SMART_CAPTCHA_CLIENT_KEY=
YANDEX_SMART_CAPTCHA_SERVER_KEY=
