DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSP_UPGRADE_INSECURE_REQUESTS=False
DJANGO_SECURE_CROSS_ORIGIN_OPENER_POLICY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

CACHE_LOCATION=redis://127.0.0.1:6379/0
RATELIMIT_CACHE_LOCATION=redis://127.0.0.1:6379/2

CELERY_BROKER_URL=redis://127.0.0.1:6379/1

YANDEX_SMART_CAPTCHA_CLIENT_KEY=
YANDEX_SMART_CAPTCHA_SERVER_KEY=
YANDEX_GEOSUGGEST_KEY=

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
