{% extends 'email_base.html' %}

{% load i18n %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 20px auto;">
    <tr>
        <td style="line-height: 1.5;">
            <h2 style="font-size: 24px; font-weight: 700;">{% trans "Password changed" %}!</h2>
            <p style="font-size: 16px; color: #737781; text-align: justify;">{% trans "We've successfully changed your password. If this was you, simply ignore this message. Otherwise, please take steps to protect your account." %}</p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="margin: 20px auto;">
    <tr>
        <td align="center" bgcolor="#000000" style="border-radius: 25px;">
            <a href="https://marlinio.ru{% url 'accounts:signin' %}" target="_blank" style="display:inline-block; padding: 13px 30px; font-size: 16px; color: #ffffff; text-decoration: none; font-weight: 600;">{% trans "Sign in" %}</a>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="margin: 20px 0; width: 100%; background-color: #ffffff; border-radius: 20px;">
    <tr>
        <td style="padding: 20px; font-size: 13.6px; text-align: justify; line-height: 1.5;">{% trans "You've have received this email because your password has been successfully changed." %}</td>
    </tr>
</table>
{% endblock %}
