{% extends 'email_base.html' %}

{% load i18n %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 20px auto;">
    <tr>
        <td style="line-height: 1.5;">
            <h2 style="font-size: 24px; font-weight: 700;">{% trans "Password reset" %}!</h2>
            <p style="font-size: 16px; color: #737781; text-align: justify;">{% trans "We've received a request to reset your password. If this was you, please click the button below. Otherwise, simply ignore this message." %}</p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="margin: 20px auto;">
    <tr>
        <td align="center" bgcolor="#000000" style="border-radius: 25px;">
            <a href="https://marlinio.ru{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" target="_blank" style="display: inline-block; padding: 13px 20px; font-size: 16px; color: #ffffff; text-decoration: none; font-weight: 600;">{% trans "Password reset" %}</a>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="margin: 20px 0; width: 100%; background-color: #ffffff; border-radius: 20px;">
    <tr>
        <td style="padding: 20px; font-size: 13.6px; text-align: justify; line-height: 1.5;">{% trans "You've received this email because you requested a password reset for your user account." %}</td>
    </tr>
</table>
{% endblock %}
