<!doctype html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Marlin — {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/legacy/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/dropdown.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/theme.js' %}"></script>
    {% block css %}{% endblock %}
</head>
<body>
    <div class="container">
        {% include 'legacy/includes/header.html' %}
        {% include 'legacy/includes/messages.html' %}
        {% block content %}{% endblock %}
        {% include 'legacy/includes/footer.html' %}
    </div>
</body>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
{% block js %}{% endblock %}
</html>
