.vacancies {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  flex: 1;
}

.vacancies__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  flex: 1;
}

.vacancies__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  flex: 1;
}

.vacancy-card {
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration) var(--transition-timing-function);
  gap: var(--space-sm);
}

.vacancy-card:hover {
  transform: translateY(var(--translate-y));
}

.vacancy-card__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-snug);
  color: var(--text-color);
}

.vacancy-card__salary {
  font-size: var(--font-size-md);
  color: var(--text-color);
}

.vacancy-card__badges {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.vacancy-card__work-experience-badge--no_exp,
.vacancy-card__work-schedule-badge--full {
  background: var(--green-badge-gradient);
}

.vacancy-card__work-experience-badge--6_plus,
.vacancy-card__work-schedule-badge--shift {
  background: var(--red-badge-gradient);
}

.vacancy-card__work-experience-badge--3_6,
.vacancy-card__work-schedule-badge--flex {
  background: var(--orange-badge-gradient);
}

.vacancy-card__work-experience-badge--1_3,
.vacancy-card__work-schedule-badge--remote {
  background: var(--blue-badge-gradient);
}

.vacancy-card__professional-area-badge {
  background: var(--blue-badge-gradient);
}

.vacancy-card__location {
  display: flex;
  gap: var(--space-xs);
  border-bottom: 0.5px solid var(--text-color-muted);
  padding-bottom: var(--space-xs);
  color: var(--text-color);
  line-height: var(--line-height-none);
  align-items: flex-end;
}

.vacancy-card__location-city, .vacancy-card__location-company {
  min-width: 50%;
}

.vacancy-card__location-city svg,
.vacancy-card__location-company svg {
  fill: var(--text-color);
  width: 15px;
  height: 20px;
  margin-right: var(--space-xxs);
  vertical-align: bottom;
}

.vacancy-card__short-description {
  font-size: var(--font-size-md);
  color: var(--text-color-muted);
}

.vacancy-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy-card__datetime {
  font-size: var(--font-size-sm);
  color: var(--text-color-muted);
}

.vacancies__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.vacancies__empty-text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

@media (max-width: 767px) {
  .vacancies {
    flex-direction: column;
  }

  .vacancy-card__location {
    align-items: flex-start;
    flex-direction: column;
  }
}
