.product-stock-badge {
  top: 15px;
  right: 15px;
}

.product-stock-badge--many {
  background: var(--green-badge-gradient);
}

.product-stock-badge--very-few {
  background: var(--red-badge-gradient);
}

.product-stock-badge--few {
  background: var(--orange-badge-gradient);
}

.product-stock-badge--enough {
  background: var(--blue-badge-gradient);
}
