{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Favorites" %}{% endblock %}

{% block content %}
	<section class="flex flex-col gap-8 max-md:gap-4">
		<div class="flex flex-col">
			{% include "includes/_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
			<div class="flex items-baseline gap-2 max-md:gap-0 max-md:flex-col">
				<h1 class="font-bold text-on-surface text-3xl max-md:text-2xl">{% trans "Favorites" %}</h1>
				{% if paginator.count %}
					<span class="text-on-surface/60 text-sm">{% blocktrans count count_products=paginator.count %}{{ count_products }} product{% plural %}{{ count_products }} products{% endblocktrans %}</span>
				{% endif %}
			</div>
		</div>

		{% include "favorites/includes/_favorite_list.html" %}
	</section>
{% endblock %}
