{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
	<section class="flex flex-col items-center justify-center min-h-[70vh]">
		<form class="flex flex-col gap-4 p-4 w-full max-w-100 bg-base-200 rounded-box" action="{% url 'accounts:password-reset' %}" method="post" novalidate>
			{% csrf_token %}
			<h1 class="font-bold text-base-content text-center text-2xl">{% trans "Password reset" %}</h1>

			{% if form.non_field_errors %}
			  <div class="bg-error/10 rounded-box px-4 py-3">
			    {% for field_error in form.non_field_errors %}
			      <p class="text-sm hyphens-auto text-error">{{ field_error }}</p>
			    {% endfor %}
			  </div>
			{% endif %}

			<div class="flex flex-col gap-1">
				<label class="text-base text-base-content" for="email">{% trans "Email" %}</label>
				<input id="email" class="input bg-base-100 {% if form.email.errors %}border border-error{% endif %}" name="email" type="email" autocomplete="email" value="{{ form.email.value|default:'' }}" placeholder="{% trans 'Enter email' %}">
				{% if form.email.errors %}
				  <p class="text-sm text-error">{{ form.email.errors.0 }}</p>
				{% endif %}
			</div>

			<div class="flex flex-col gap-1">
				<div id="yandex-smart-captcha-container" data-language="{{ LANGUAGE_CODE }}" data-sitekey="{{ YANDEX_SMART_CAPTCHA_CLIENT_KEY }}"></div>
			</div>

			<button class="button button--primary mt-2" type="submit">{% trans "Password reset" %}</button>

			<ul class="flex gap-2 justify-center">
				<li>
					<a class="link text-sm" href="{% url 'accounts:signin' %}">{% trans "Remembered your password? Sign in" %}</a>
				</li>
			</ul>
		</form>
	</section>
{% endblock %}

{% block js %}
  <script src="{% static 'js/yandex-smart-captcha-onload.js' %}"></script>
  <script src="https://smartcaptcha.cloud.yandex.ru/captcha.js?render=onload&onload=onloadYandexSmartCaptcha" defer></script>
{% endblock %}
