{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="auth">
    <div class="auth__form">
        <h2 class="auth__form-title">{% trans "Password reset" %}</h2>

        <form action="{% url 'accounts:password_reset' %}" method="post" class="auth__form-body">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="auth__errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="auth__form-group">
                <label for="email" class="auth__label">{% trans "Email" %} {% if form.email.errors %}<sup>*{{ form.email.errors.0 }}</sup>{% endif %}</label>
                <input autocomplete="email" type="text" value="{{ form.email.value|default:'' }}" name="email" id="email" placeholder="{% trans 'Enter email' %}" class="auth__input">
            </div>
            <button type="submit" class="auth__form-button">{% trans "Password reset" %}</button>
            <div class="auth__links">
                <a href="{% url 'accounts:signin' %}" class="auth__link">{% trans "Remembered your password? Sign in" %}</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'accounts/js/toggle-password.js' %}"></script>
{% endblock %}
