{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block mix %}main--centered{% endblock %}

{% block content %}
<section class="auth">
  <form class="form form--short surface" action="{% url 'accounts:password-reset' %}" method="post" novalidate>
    {% csrf_token %}

    <h1 class="form__title">{% trans "Password reset" %}</h1>

    {% if form.non_field_errors %}
      <div class="form__errors">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="form__group">
      <label class="form__label" for="email">{% trans "Email" %} {% if form.email.errors %}<sup class="form__error">*{{ form.email.errors.0 }}</sup>{% endif %}</label>
      <input class="form__input input" name="email" id="email" type="email" autocomplete="email" value="{{ form.email.value|default:'' }}" placeholder="{% trans 'Enter email' %}">
    </div>

    <div class="form__group">
      <div id="yandex-smart-captcha-container" data-language="{{ LANGUAGE_CODE }}" data-sitekey="{{ YANDEX_SMART_CAPTCHA_CLIENT_KEY }}"></div>
    </div>

    <button class="form__button button" type="submit">{% trans "Password reset" %}</button>

	  <ul class="form__list">
		  <li class="form__item">
        <a class="form__link link" href="{% url 'accounts:signin' %}">{% trans "Remembered your password? Sign in" %}</a>
		  </li>
    </ul>
  </form>
</section>
{% endblock %}

{% block js %}
	<script src="{% static 'js/yandex-smart-captcha-onload.js' %}"></script>
	<script src="https://smartcaptcha.cloud.yandex.ru/captcha.js?render=onload&onload=onloadYandexSmartCaptcha" defer></script>
{% endblock %}
