{% extends "base.html" %}

{% load static i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block main_modifier %}main--spaced{% endblock %}

{% block content %}
	{% include "includes/hero.html" with title=_("Profile.") description=_("Personal information and account settings.") %}

	<section class="profile">
		<form class="form surface" method="post" novalidate>
			{% csrf_token %}

			<h2 class="form__title">{% trans "Personal information" %}</h2>

      {% if form.non_field_errors %}
				<div class="form__errors">
					{{ form.non_field_errors }}
				</div>
			{% endif %}

      <div class="form__group">
        <label class="form__label" for="username">{% trans "Username" %} {% if form.username.errors %}<sup class="form__error">*{{ form.username.errors.0 }}</sup>{% endif %}</label>
        <input class="form__input input" name="username" id="username" type="text" autocomplete="username" value="{{ form.username.value|default:'' }}" placeholder="{% trans 'Enter username' %}">
      </div>
      <div class="form__group">
        <label class="form__label" for="email">{% trans "Email" %}</label>
        <input class="form__input input input--readonly" name="email" id="email" disabled type="text" autocomplete="email" value="{{ request.user.email }}" placeholder="{% trans 'Enter email' %}">
      </div>
			<div class="form__group">
        <label class="form__label" for="phone_number">{% trans "Phone number" %}</label>
        <input class="form__input input input--readonly" name="phone_number" id="phone_number" disabled type="tel" autocomplete="tel" value="{{ request.user.phone_number }}" placeholder="+7 (___) ___-__-__">
      </div>
      <div class="form__group">
        <label class="form__label" for="first_name">{% trans "First name" %} {% if form.first_name.errors %}<sup class="form__error">*{{ form.first_name.errors.0 }}</sup>{% endif %}</label>
        <input class="form__input input" name="first_name" id="first_name" type="text" autocomplete="given-name" value="{{ form.first_name.value|default:'' }}" placeholder="{% trans 'Enter first name' %}">
      </div>
      <div class="form__group">
        <label class="form__label" for="last_name">{% trans "Last name" %} {% if form.last_name.errors %}<sup class="form__error">*{{ form.last_name.errors.0 }}</sup>{% endif %}</label>
        <input class="form__input input" name="last_name" id="last_name" type="text" autocomplete="family-name" value="{{ form.last_name.value|default:'' }}" placeholder="{% trans 'Enter last name' %}">
      </div>
      <div class="form__group">
        <label class="form__label" for="middle_name">{% trans "Middle name" %} ({% trans "if any" %}) {% if form.middle_name.errors %}<sup class="form__error">*{{ form.middle_name.errors.0 }}</sup>{% endif %}</label>
        <input class="form__input input" name="middle_name" id="middle_name" type="text" autocomplete="additional-name" value="{{ form.middle_name.value|default:'' }}" placeholder="{% trans 'Enter middle name' %}">
      </div>

			<div class="form__action-buttons">
				<button class="form__action-button button" type="submit" formaction="{% url 'accounts:profile' %}" formmethod="post">{% trans "Save" %}</button>
        <button class="form__action-button button" type="submit" formaction="{% url 'accounts:signout' %}" formmethod="post">{% trans "Sign out" %}</button>
				<button class="form__action-button button button--light" type="submit" formaction="{% url 'accounts:delete' %}" formmethod="post">{% trans "Delete account" %}</button>
			</div>
		</form>
	</section>
{% endblock %}

{% block js %}
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'js/masks.js' %}"></script>
{% endblock %}
