{% extends 'email_base.html' %}

{% load i18n %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 20px auto;">
    <tr>
        <td style="line-height: 1.5;">
            <h2 style="font-size: 24px; font-weight: 700;">{% trans "Thank for request" %}!</h2>
            <p style="font-size: 16px; color: #737781; text-align: justify;">{% trans "We've received your request and will contact you shortly. If you have any further questions, please feel free to contact us again." %}</p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="margin: 20px auto;">
    <tr>
        <td align="center" bgcolor="#000000" style="border-radius: 25px;">
            <a href="https://marlinio.ru" target="_blank" style="display: inline-block; padding: 13px 20px; font-size: 16px; color: #ffffff; text-decoration: none; font-weight: 600;">{% trans "Go to website" %}</a>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 20px 0;">
    <tr>
        <td style="font-size: 16px; line-height: 1.5;">
            <h3 style="font-size: 19.2px; font-weight: 600;">{% trans "What will happen next?" %}</h3>
            <p style="font-size: 16px; color: #737781;">
                • {% trans "We will process your request within 1-24 hours." %}<br>
                • {% trans "The answer will come to this email." %}<br>
                • {% trans "If we need to clarify any details, we will write to you additionally." %}
            </p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 20px 0; background-color: #ffffff; border-radius: 20px;">
    <tr>
        <td style="padding: 20px; font-size: 13.6px; text-align: justify; line-height: 1.5;">{% trans "You've received this email because you recently submitted a request through the contact form on our website. This message confirms that your request was successfully received." %}</td>
    </tr>
</table>
{% endblock %}
