@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;

    --font-size-xs: 0.85rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.05rem;
    --font-size-lg: 1.1rem;
    --font-size-xl: 1.2rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-lg: 25px;
    --radius-xl: 30px;

    --transition:
            opacity 0.5s ease,
            transform 0.5s ease,
            color 0.5s ease,
            background-color 0.5s ease,
            border-color 0.5s ease,
            box-shadow 0.5s ease,
            width 0.5s ease,
            fill 0.5s ease,
            filter 0.5s ease;
    --transform: translateY(-1px);

    --shadow: 0 6px 24px rgba(76, 75, 75, 0.08);

    --button-text-color: #ffffff;
    --button-background-color: #000000;
    --button-background-color-hover: #4e4e4e;

    --background-color: #f0f2f5;
    --block-background-color: #ffffff;
    --text-color: #000000;
    --text-color-muted: #737781;

    --image-filter: none;

    --input-border: solid 1px var(--text-color-muted);
    --input-background-color: var(--background-color);
}

.dark-theme {
    --shadow: 0 6px 24px rgba(0, 0, 0, 0.24);

    --button-text-color: #424344;
    --button-background-color: #e1e1e1;
    --button-background-color-hover: #bbbaba;

    --background-color: #202020;
    --block-background-color: #424344;
    --text-color: #e1e1e1;
    --text-color-muted: #acacac;

    --image-filter: brightness(0.85);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    min-height: 100%;
    color: var(--text-color);
    font-weight: var(--font-weight-medium);
    position: relative;
}

* {
    transition: var(--transition);
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

::placeholder {
    color: var(--text-color-muted);
}
