.footer {
    margin-top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-sm);
    color: var(--text-color-muted);
    user-select: none;
}

.footer__links {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__links-link {
    color: var(--text-color-muted);
}

.footer__links-link:hover {
    color: var(--text-color);
}

.footer__copyright {
    text-align: center;
}


@media (max-width: 600px) {
    .footer {
        margin-bottom: 150px;
    }
}
