.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
}

.header__logo {
    width: 55px;
    height: 55px;
}

.header__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
}

.header__subtitle {
    font-size: var(--font-size-xs);
    color: var(--muted-color-text);
}

.header__nav {
    user-select: none;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.header__nav-link {
    font-size: var(--font-size-sm);
    color: var(--muted-color-text);
    font-weight: var(--font-weight-semibold);
    position: relative;
}

.header__nav-link:hover {
    color: var(--color-text);
}

.header__nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-text);
    transition: var(--transition);
}

.header__nav-link:hover::after {
    width: 100%;
}

.header__nav-link--active {
  color: var(--color-text);
}

.header__nav-link--active::after {
  width: 100%;
}

#header__nav-theme-toggle {
    font-size: var(--font-size-xl);
}

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .header__nav-list {
        gap: 15px;
    }
}
