.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
}

.header__logo {
    width: 55px;
    height: 55px;
}

.header__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    color: var(--text-color);
}

.header__subtitle {
    font-size: var(--font-size-xs);
    color: var(--text-color-muted);
}

.header__nav {
    user-select: none;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__nav-link {
    font-size: var(--font-size-sm);
    color: var(--text-color-muted);
    font-weight: var(--font-weight-semibold);
    position: relative;
}

.header__nav-link:hover {
    color: var(--text-color);
}

.header__nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: var(--transition);
}

.header__nav-link:hover::after {
    width: 100%;
}

.header__nav-link--active {
  color: var(--text-color);
}

.header__nav-link--active::after {
  width: 100%;
}

.header__nav-button {
    background-color: var(--block-background-color);
    padding: 8px;
    border-radius: var(--radius-sm);
}

.header__nav-button svg {
    fill: var(--text-color-muted);
    height: 20px;
    width: 20px;
    min-width: 20px;
}

.header__nav-button:hover,
.header__nav-button:focus {
    box-shadow: var(--shadow-active);
}

.header__nav-button:hover svg,
.header__nav-button:focus svg {
    fill: var(--text-color);
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.header__switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header__switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--text-color-muted);
    border-radius: var(--radius-xl);
    transition: var(--transition);
}

.header__switch-slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: var(--transition);
}

.header__switch-input:checked + .header__switch-slider {
    background-color: #4caf50;
}

.header__switch-input:checked + .header__switch-slider::before {
    transform: translateX(20px);
}

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .header__nav-list {
        gap: 15px;
    }
}
