@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@plugin "@tailwindcss/forms" {
  strategy: class;
}

@theme {
  --font-body: 'Montserrat', sans-serif;
  --max-width-page: 1330px;

  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-smoky-white: oklch(0.9605 0.0046 258.32);
  --color-platinum: oklch(0.93 0 0);
  --color-amaranth: oklch(0.602 0.2173 16.84);
  --color-emerald: oklch(0.596 0.145 163.22);
  --color-amber: oklch(0.769 0.188 70.08);
  --color-azure: oklch(0.623 0.143 253.35);
  --color-laser-lemon: oklch(0.905 0.182 98.111);

  --color-surface: var(--color-white);
  --color-surface-dim: var(--color-smoky-white);
  --color-on-surface: var(--color-black);

  --color-edge: var(--color-platinum);

  --color-accent: var(--color-laser-lemon);

  --color-primary: var(--color-black);
  --color-on-primary: var(--color-white);
  --color-secondary: var(--color-smoky-white);
  --color-on-secondary: var(--color-black);

  --color-error: var(--color-amaranth);
  --color-success: var(--color-emerald);
  --color-warning: var(--color-amber);
  --color-info: var(--color-azure);

  --radius-box: var(--radius-2xl);
  --radius-field: calc(infinity * 1px);
}

@source inline("bg-error bg-success bg-warning bg-info bg-error/10 bg-success/10 bg-warning/10 bg-info/10 text-error text-success text-warning text-info");

@layer base {
  * {
    @apply scrollbar-hide;
  }

  .smart-captcha {
    @apply !min-w-full;
  }

  .htmx-indicator-show {
    display: none;
  }

  .htmx-request .htmx-indicator-hide {
    display: none;
  }

  .htmx-request .htmx-indicator-show {
    display: inline-flex;
  }
}

@layer components {
  .link {
    @apply text-base cursor-pointer transition duration-300 ease-in-out text-on-surface/60 hover:text-primary;
  }

  .link--active {
    @apply !text-primary;
  }

  .input {
    @apply rounded-field border border-edge text-base px-5 py-3 h-12 outline-1 outline-transparent hover:outline-edge focus:outline-primary text-on-surface;

    &::placeholder {
      @apply text-on-surface/60;
    }

    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .checkbox {
    @apply form-checkbox cursor-pointer bg-surface mt-0.5 border border-edge rounded text-primary focus:ring-0 focus:ring-offset-0 outline-1 outline-transparent hover:outline-edge focus:outline-primary;
  }

  .button {
    @apply rounded-field text-base px-5 py-3 h-12 cursor-pointer font-semibold transition duration-300 ease-in-out;
  }

  .button--primary {
    @apply bg-primary text-on-primary hover:bg-primary/80;
  }

  .button--secondary {
    @apply bg-secondary text-on-secondary hover:bg-[#e4e4e4];
  }

  .button--disabled {
    @apply cursor-default text-on-primary !bg-primary/80;
  }

  .button--vk {
    @apply bg-[#0077ff] text-white hover:bg-[#0066dd];
  }

  .button--google {
    @apply bg-white text-[#1f1f1f] hover:bg-[#e4e4e4] border border-[#dadce0];
  }

  .spinner {
    @apply size-5 border-3 border-primary border-t-transparent rounded-full animate-spin;
  }
}
