html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
  background-color: var(--background-color);
  position: relative;
}

.page {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 var(--space-sm);
}

.page__header {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main--centered {
  justify-content: center;
  align-items: center;
}

.page__footer {
  margin-top: auto;
  padding-top: var(--space-md);
  margin-bottom: var(--space-lg);
}
