:root {
  --font-family: 'Montserrat', sans-serif;

  --line-height-none: 1;
  --line-height-tight: 1.1;
  --line-height-snug: 1.2;
  --line-height-normal: 1.5;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.64rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.563rem;
  --font-size-xxl: 1.953rem;
  --font-size-xxxl: 2.441rem;
  --font-size-4xl: 3.052rem;
  --font-size-5xl: 3.815rem;
  --font-size-6xl: 4.768rem;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  --space-xxxl: 5rem;
  --space-4xl: 6rem;
  --space-5xl: 7rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-xxl: 1.5rem;
  --radius-pill: 9999px;

  --button-radius: var(--radius-pill);
  --input-radius: var(--radius-pill);

  --background-color: #f0f2f5;
  --surface-background-color: #ffffff;
  --text-color: #000000;
  --text-color-muted: #737781;
  --button-text-color: #ffffff;
  --button-background-color: #000000;
  --button-background-color-hover: #4e4e4e;
  --light-button-text-color: #000000;
  --light-button-background-color: #f0f2f5;
  --light-button-background-color-hover: #d1d7dd;
  --input-text-color: #000000;
  --input-background-color: #f0f2f5;
  --input-placeholder-color: #737781;
  --input-border-color: #737781;
  --link-text-color: #737781;
  --link-text-color-hover: #000000;
  --success-message-gradient: linear-gradient(135deg, #4caf50 0%, #8bc34a 100%);
  --error-message-gradient: linear-gradient(135deg, #f44336 0%, #e57373 100%);
  --warning-message-gradient: linear-gradient(135deg, #ff9800 0%, #ffb74d 100%);
  --info-message-gradient: linear-gradient(135deg, #2196f3 0%, #64b5f6 100%);
  --success-message-dot-color: #4fe855;
  --error-message-dot-color: #c21616;
  --warning-message-dot-color: #ffd267;
  --info-message-dot-color: #117fd6;

  --box-shadow-none: none;
  --box-shadow: 0 6px 24px rgba(76, 75, 75, 0.08);

  --transition-duration: 0.3s;
  --transition-timing-function: ease;

  --translate-y: -1px;

  --z-index-dropdown: 1000;
  --z-index-modal: 1100;
  --z-index-toast: 1200;

  --page-max-width: 1200px;
}
