{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ product.name }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'catalog/css/product_detail.css' %}">
	<link rel="stylesheet" href="{% static 'catalog/css/components/stock.css' %}">
	<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
{% endblock %}

{% block mix %}main--spaced{% endblock %}

{% block content %}
	{% include "includes/breadcrumbs.html" with breadcrumbs=breadcrumbs %}

	<section class="product">
    <div class="product__swiper surface swiper">
      <div class="swiper-wrapper">
        {% for product_image in product.product_images.all %}
	        <div class="swiper-slide">
	          <img class="product__swiper-item" src="{{ product_image.image_path.url }}" alt="{{ product_image.alt_text }} - {{ product_image.sort_order }}" draggable="false">
	        </div>
        {% empty %}
          <div class="swiper-slide">
            <img class="product__swiper-item" src="{% static 'catalog/img/default-product-image.jpg' %}" alt="{% trans 'No image available' %}" draggable="false">
          </div>
        {% endfor %}
      </div>

      {% if product.product_images.count %}
        <div class="swiper-button-prev product__swiper-button product__swiper-button--prev"></div>
        <div class="swiper-button-next product__swiper-button product__swiper-button--next"></div>
        <div class="swiper-pagination product__swiper-pagination"></div>
      {% endif %}

      {% if product.discount %}
        <span class="product__discount-badge badge badge--absolute">-{{ product.discount|floatformat:"-2u" }}%</span>
      {% endif %}

			{% include "catalog/includes/stock.html" with stock=product.stock %}
    </div>

    <div class="product__info">
      <h1 class="product__name">{{ product.name }}</h1>

      {% if product.unit_type in "kg l" %}
        <p class="product__unit">{% trans "Price per 1" %} {{ product.get_unit_type_display }}</p>
      {% endif %}

	    <p class="product__price">
        {% if product.discount %}
          <span class="product__price-current">{{ product.final_price }} ₽</span>
          <span class="product__price-old">{{ product.price }} ₽</span>
        {% else %}
          <span class="product__price-current">{{ product.price }} ₽</span>
        {% endif %}
      </p>

	    {% if product.stock %}
          {% if not product.pk in cart_product_pks %}
            <form action="{% url 'carts:cart-item-create' product_pk=product.pk %}" method="post" novalidate>
              {% csrf_token %}
              <button class="product__button button">{% trans "Add to Cart" %}</button>
            </form>
          {% else %}
            <button class="product__button button button--disabled" disabled>{% trans "In cart" %}</button>
          {% endif %}
      {% else %}
        <button class="product__button button button--disabled" disabled>{% trans "Not available" %}</button>
      {% endif %}

	    <div class="product__details">
		    <div class="product__category">
          <p class="product__label">{% trans "Category" %}</p>
          <p class="product__value">{{ product.category.name }}</p>
		    </div>
				<div class="product__description">
					<p class="product__label">{% trans "Description" %}</p>

					{% if product.description|length > 200 %}
	          <p class="product__value product__value--collapsed" id="product_value_{{ product.id }}">{{ product.description }}</p>
						<button class="product__value-expander link" aria-controls="product_value_{{ product.id }}" aria-expanded="false" data-show="{% trans 'Show more' %}" data-hide="{% trans 'Hide' %}">{% trans "Show more" %}</button>
					{% else %}
						<p class="product__value">{{ product.description }}</p>
					{% endif %}
				</div>
				<div class="product__composition">
					<p class="product__label">{% trans "Composition" %}</p>
	        <p class="product__value">{{ product.composition }}</p>
				</div>
		    <div class="product__nutrition">
			    <p class="product__label">{% trans "Nutritional value" %}</p>

			    {% if product.product_nutrition %}
				    <ul class="product__nutrition-list">
						  <li class="product__nutrition-item">
						    <p class="product__nutrition-label">{{ product.product_nutrition.proteins|floatformat:"1u" }}</p>
						    <p class="product__nutrition-value">{% trans "proteins" %}</p>
					    </li>
					    <li class="product__nutrition-item">
						    <p class="product__nutrition-label">{{ product.product_nutrition.fats|floatformat:"1u" }}</p>
						    <p class="product__nutrition-value">{% trans "fats" %}</p>
					    </li>
					    <li class="product__nutrition-item">
						    <p class="product__nutrition-label">{{ product.product_nutrition.carbs|floatformat:"1u" }}</p>
						    <p class="product__nutrition-value">{% trans "carbs" %}</p>
					    </li>
					    <li class="product__nutrition-item">
						    <p class="product__nutrition-label">{{ product.product_nutrition.calories|floatformat:"1u" }}</p>
						    <p class="product__nutrition-value">{% trans "calories" %}</p>
					    </li>
				    </ul>
			    {% else %}
			      <p class="product__value">{% trans "No information available" %}</p>
			    {% endif %}
		    </div>
		    <div class="product__characteristics">
			    <p class="product__label">{% trans "Characteristics" %}</p>
		      <ul class="product__characteristics-list">
						{% for product_attribute in product.product_attributes.all %}
			        <li class="product__characteristics-item">
				        <p class="product__characteristics-label">{{ product_attribute.attribute.name }}</p>
                <p class="product__characteristics-value">{{ product_attribute.value }}</p>
			        </li>
			      {% empty %}
			        <li>
				        <p class="product__value">{% trans "No information available" %}</p>
			        </li>
			      {% endfor %}
		      </ul>
		    </div>
	    </div>
    </div>
	</section>

{% endblock %}

{% block js %}
	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
	<script src="{% static 'catalog/js/product-swiper.js' %}"></script>
	<script src="{% static 'catalog/js/show-more.js' %}"></script>
{% endblock %}
