{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{{ product.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'catalog/css/product_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="{% url 'catalog:product_list' %}" class="breadcrumbs__link">{% trans "Catalog" %}</a>
    <span class="breadcrumbs__separator">•</span>
    <span class="breadcrumbs__current">{{ product.name }}</span>
</div>

<section class="product">
    <div class="product__images swiper">
        <div class="swiper-wrapper">
            {% for product_image in product.product_images.all %}
              <div class="swiper-slide">
                <img
                  src="{{ product_image.image_path.url }}"
                  alt="{{ product_image.alt_text }} - {{ product_image.sort_order }}"
                  draggable="false"
                  class="product__images-item"
                >
              </div>
            {% empty %}
              <div class="swiper-slide">
                <img
                  src="{% static 'catalog/img/default-product-image.jpg' %}"
                  alt="{% trans 'No image available' %}"
                  draggable="false"
                  class="product__images-item"
                >
              </div>
            {% endfor %}
        </div>

        {% if product.product_images.all|length > 1 %}
            <div class="swiper-button-prev product__images-button product__images-button--prev"></div>
            <div class="swiper-button-next product__images-button product__images-button--next"></div>

            <div class="swiper-pagination product__images-pagination"></div>
        {% endif %}

        {% if product.discount %}
            <span class="product__discount">-{{ product.discount|floatformat:"-2u" }}%</span>
        {% endif %}

        {% if product.stock <= 100 %}
            {% if not product.stock %}
                <span class="product__stock product__stock--very-few">{% trans "not available" %}</span>
            {% elif product.stock <= 15 %}
                <span class="product__stock product__stock--few">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
            {% elif product.stock <= 50 %}
                <span class="product__stock product__stock--enough">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
            {% else %}
                <span class="product__stock product__stock--many">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
            {% endif %}
        {% endif %}
    </div>

    <div class="product__info">
        <h2 class="product__title">{{ product.name }}</h2>

        {% if product.unit_type in 'kg l' %}
            <p class="product__unit">{% trans "Price per 1" %} {{ product.get_unit_type_display }}</p>
        {% endif %}

        <div class="product__price">
            {% if product.discount %}
                <span class="current-price">{{ product.get_final_price|floatformat:"-2u" }} ₽</span>
                <span class="old-price">{{ product.price|floatformat:"-2u" }} ₽</span>
            {% else %}
                <span class="current-price">{{ product.price|floatformat:"-2u" }} ₽</span>
            {% endif %}
        </div>

        {% if product.stock %}
            <form action="#" method="post">
                {% csrf_token %}
                <button class="product__button">{% trans "Add to Cart" %}</button>
            </form>
        {% else %}
            <button class="product__button" disabled>{% trans "Not available" %}</button>
        {% endif %}

        <div class="product__block">
            <h3 class="product__subtitle">{% trans "Category" %}</h3>
            <p class="product__text">{{ product.category.name }}</p>
        </div>

        <div class="product__block">
            <h3 class="product__subtitle">{% trans "Description" %}</h3>
            <p class="product__text">{{ product.description }}</p>
        </div>

        <div class="product__block">
            <h3 class="product__subtitle">{% trans "Composition" %}</h3>
            <p class="product__text">{{ product.composition }}</p>
        </div>

        <div class="product__block">
            <h3 class="product__subtitle">{% trans "Nutritional value" %}</h3>
            {% if product.product_nutrition %}
            <div class="product__nutrition-list">
                <div class="product__nutrition-item">
                    <h4 class="product__nutrition-value">{{ product.product_nutrition.proteins|floatformat:"1u" }}</h4>
                    <p class="product__nutrition-label">{% trans "proteins" %}</p>
                </div>
                <div class="product__nutrition-item">
                    <h4 class="product__nutrition-value">{{ product.product_nutrition.fats|floatformat:"1u" }}</h4>
                    <p class="product__nutrition-label">{% trans "fats" %}</p>
                </div>
                <div class="product__nutrition-item">
                    <h4 class="product__nutrition-value">{{ product.product_nutrition.carbs|floatformat:"1u" }}</h4>
                    <p class="product__nutrition-label">{% trans "carbs" %}</p>
                </div>
                <div class="product__nutrition-item">
                    <h4 class="product__nutrition-value">{{ product.product_nutrition.calories|floatformat:"1u" }}</h4>
                    <p class="product__nutrition-label">{% trans "calories" %}</p>
                </div>
            </div>
            {% else %}
                <p class="nutrition__empty">{% trans "No information available" %}</p>
            {% endif %}
        </div>
        <div class="product__block">
            <h3 class="product__subtitle">{% trans "Characteristics" %}</h3>
            <div class="characteristics__list">
                {% for product_attribute in product.product_attributes.all %}
                    <div class="characteristics__item">
                        <span class="characteristics__label">{{ product_attribute.attribute.name }}</span>
                        <span class="characteristics__value">{{ product_attribute.value|lower }}</span>
                    </div>
                {% empty %}
                    <p class="characteristics__empty">{% trans "No characteristics available" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'catalog/js/product-swiper.js' %}"></script>
{% endblock %}
