{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ category.name }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'catalog/css/components/hero.css' %}">
	<link rel="stylesheet" href="{% static 'catalog/css/product_list.css' %}">
{% endblock %}

{% block mix %}main--spaced{% endblock %}

{% block content %}
  {% url "catalog:product-list" category_slug=category.slug as search_url %}
  {% include "catalog/includes/hero.html" with title=category.name|add:"." description=category.description|add:"." search_url=search_url search_placeholder=_("Find a product, e.g. — bananas") %}

	<section class="products {% if not products %}products--centered{% endif %}">
		{% if products %}
			<ul class="products__list">
				{% for product in products %}
					<li class="products__item">
						<a href="{{ product.get_absolute_url }}" aria-label="Marlin — {{ product.name }}">
							<article class="product-card surface">
								<div class="product-card__image-wrapper">
                  {% if product.product_images.first %}
                    <img class="product-card__image" src="{{ product.product_images.first.image_path.url }}" alt="{{ product.product_images.first.alt_text }}" draggable="false">
                  {% else %}
                    <img class="product-card__image" src="{% static 'catalog/img/default-product-image.jpg' %}" alt="{% trans 'No image available' %}" draggable="false">
                  {% endif %}

                  {% if product.discount %}
                    <span class="product-card__discount-badge badge badge--absolute">-{{ product.discount|floatformat:"-2u" }}%</span>
                  {% endif %}

                  {% if product.stock <= 100 %}
                    {% if not product.stock %}
                      <span class="product-card__stock-badge badge badge--absolute product-card__stock-badge--very-few">{% trans "not available" %}</span>
                    {% elif product.stock <= 15 %}
                      <span class="product-card__stock-badge badge badge--absolute product-card__stock-badge--few">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
                    {% elif product.stock <= 50 %}
                      <span class="product-card__stock-badge badge badge--absolute product-card__stock-badge--enough">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
                    {% else %}
                      <span class="product-card__stock-badge badge badge--absolute product-card__stock-badge--many">{% blocktrans with stock=product.stock %}{{ stock }} left{% endblocktrans %}</span>
                    {% endif %}
                  {% endif %}
                </div>

								<div class="product-card__content">
									<h2 class="product-card__name">{{ product.name|truncatechars:20 }}</h2>
									<p class="product-card__description">{{ product.description|truncatechars:50 }}</p>
									<p class="product-card__price">
	                  {% if product.discount %}
                      <span class="product-card__price-current">{{ product.final_price }} ₽ {% if product.unit_type != "pcs" %} / {{ product.get_unit_type_display }} {% endif %}</span>
                      <span class="product-card__price-old">{{ product.price }} ₽</span>
	                  {% else %}
                      <span class="product-card__price-current">{{ product.price }} ₽ {% if product.unit_type != "pcs" %} / {{ product.get_unit_type_display }} {% endif %}</span>
	                  {% endif %}
                  </p>

							    {% if product.stock %}
					          {% if not product.pk in cart_product_pks %}
					            <form action="{% url 'carts:cart-item-create' product_pk=product.pk %}" method="post" novalidate>
					              {% csrf_token %}
					              <button class="product-card__button button">{% trans "Add to Cart" %}</button>
					            </form>
					          {% else %}
                      <button class="product-card__button button button--disabled" disabled>{% trans "In cart" %}</button>
					          {% endif %}
						      {% else %}
						        <button class="product-card__button button button--disabled" disabled>{% trans "Not available" %}</button>
						      {% endif %}
								</div>
							</article>
						</a>
					</li>
				{% endfor %}
			</ul>

			{% include "includes/pagination.html" with page_obj=page_obj search_query=search_query %}
		{% else %}
			{% if search_query %}
        <div class="products__empty">
          <p class="products__empty-text">{% trans "No results found for your search" %}</p>
        </div>
      {% else %}
        <div class="products__empty">
          <p class="products__empty-text">{% trans "No products found in the catalog" %}</p>
        </div>
      {% endif %}
		{% endif %}
	</section>
{% endblock %}
