{% extends 'base.html' %}

{% load static %}

{% block title %}Список продуктов{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'catalog/css/product_list.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__content">
        <h2 class="hero__title">Свежее. Быстро. По-домашнему.</h2>
        <p class="hero__subtitle">Доставка свежих продуктов прямо к двери. Фрукты, овощи, молочные продукты и
            многое другое.</p>
        <form method="get" action="{% url 'catalog:product_list' %}">
            <input name="q" value="{{ search_query }}" class="hero__search" autocomplete="off" placeholder="Найти товар, например — бананы">
        </form>
    </div>
    <div class="hero__promo promo-card">
        <div class="promo-card__header">
            <p class="promo-card__label">Ежедневные предложения</p>
            <p class="promo-card__title">Скидки до 30%</p>
        </div>

        <div class="promo-card__products">
            <div class="promo-card__product product-badge">
                <p class="product-badge__name">Бананы</p>
                <p class="product-badge__price">89 ₽ / кг</p>
            </div>
            <div class="promo-card__product product-badge">
                <p class="product-badge__name">Молоко</p>
                <p class="product-badge__price">79 ₽</p>
            </div>
        </div>
    </div>
</section>
<section class="products">
    {% if products %}
    <div class="products__list">
        {% for product in products %}
        <a href="{{ product.get_absolute_url }}">
            <article class="product-card">
                <div class="product-card__image">
                    {% if product.product_images.first %}
                        <img src="{{ product.product_images.first.image_path.url }}"
                            alt="{{ product.product_images.first.alt_text }}" draggable="false" class="product-image">
                    {% else %}
                        <img src="{% static 'catalog/img/default-product-image.jpg' %}"
                            alt="Нет изображения" draggable="false" class="product-image">
                    {% endif %}
                    {% if product.discount %}
                        <span class="product-discount">-{{ product.discount|floatformat:"-2u" }}%</span>
                    {% endif %}
                </div>
                <div class="product-card__content">
                    <h3 class="product-name">{{ product.name|truncatechars:15 }}</h3>
                    <p class="product-description">{{ product.description|truncatechars:25 }}</p>
                    <div class="product-price">
                        {% if product.discount %}
                            <span class="current-price">{{ product.get_final_price|floatformat:"-2u" }} ₽ / {{ product.get_unit_type_display }}</span>
                            <span class="old-price">{{ product.price|floatformat:"-2u" }} ₽</span>
                        {% else %}
                            <span class="current-price">{{ product.price|floatformat:"-2u" }} ₽ / {{ product.get_unit_type_display }}</span>
                        {% endif %}
                    </div>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button class="product-card__button">В корзину</button>
                    </form>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="products__pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" class="pagination__prev">⭠</a>
        {% else %}
            <button class="pagination__prev" disabled>⭠</button>
        {% endif %}

        <ul class="pagination__pages">
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                    <li><a href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}" class="pagination__page {% if num == page_obj.number %}active{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" class="pagination__next">⭢</a>
        {% else %}
            <button class="pagination__next" disabled>⭢</button>
        {% endif %}
    </div>
    {% endif %}

    {% else %}
    {% if search_query %}
        <div class="no-products">
            <p class="no-products__text">По запросу ничего не найдено</p>
            <a class="no-products__button" href="{% url 'catalog:product_list' %}">В каталог</a>
        </div>
    {% else %}
        <div class="no-products">
            <p class="no-products__text">В каталоге ничего не найдено</p>
        </div>
    {% endif %}
    {% endif %}
</section>
{% endblock %}
