@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@plugin "@tailwindcss/forms" {
  strategy: class;
}

@theme {
  --font-body: 'Montserrat', sans-serif;
  --max-width-page: 1440px;

  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-smoky-white: oklch(0.9605 0.0046 258.32);
  --color-platinum: oklch(0.93 0 0);
  --color-amaranth: oklch(0.602 0.2173 16.84);
  --color-laser-lemon: oklch(0.905 0.182 98.111);

  --color-base-100: var(--color-white);
  --color-base-200: var(--color-smoky-white);
  --color-base-300: var(--color-platinum);
  --color-base-content: var(--color-black);

  --color-primary: var(--color-black);
  --color-primary-content: var(--color-white);

  --color-secondary: var(--color-smoky-white);
  --color-secondary-content: var(--color-black);

  --color-error: var(--color-amaranth);
  --color-error-content: var(--color-black);
  --color-warning: var(--color-laser-lemon);
  --color-warning-content: var(--color-black);

  --radius-box: var(--radius-2xl);
  --radius-field: calc(infinity * 1px);
}

@layer base {
  * {
    @apply scrollbar-hide;
  }

  .smart-captcha {
    @apply !min-w-full;
  }
}

@layer components {
  .link {
    @apply text-base cursor-pointer transition duration-300 ease-in-out text-base-content/60 hover:text-base-content;
  }

  .link--active {
    @apply !text-base-content;
  }

  .input {
    @apply rounded-field text-base px-5 py-3 h-12 outline-none text-base-content border border-base-300;
  }

  .input::placeholder {
    @apply text-base-content/60;
  }

  .button {
    @apply rounded-field text-base px-5 py-3 h-12 cursor-pointer font-semibold transition duration-300 ease-in-out;
  }

  .button--primary {
    @apply bg-primary text-primary-content hover:bg-primary/80;
  }

  .button--secondary {
    @apply bg-secondary text-secondary-content hover:hover:bg-[#e4e4e4];
  }

  .button--disabled {
    @apply cursor-default text-primary-content !bg-primary/80;
  }

  .button--vk {
    @apply bg-[#0077ff] text-white hover:bg-[#0066dd];
  }

  .button--google {
    @apply bg-white border border-base-300 text-[#1f1f1f] hover:bg-[#e4e4e4];
  }
}
