{% load static i18n %}

<footer class="border-t border-edge">
	<div class="flex flex-col w-full p-8 gap-4 max-md:p-4 max-w-page mx-auto">
		<div class="grid grid-cols-4 gap-4 max-md:grid-cols-1">
			<nav>
        <h2 class="text-sm text-on-surface font-bold mb-2">
          {% trans "Navigation" %}
        </h2>
        <ul>
          <li>
            <a class="link text-sm" href="{% url 'pages:home' %}">
              {% trans "Home" %}
            </a>
          </li>
          <li>
            <a class="link text-sm" href="{% url 'catalog:category-list' %}">
              {% trans "Catalog" %}
            </a>
          </li>
          <li>
            <a class="link text-sm" href="{% url 'carts:detail' %}">
              {% trans "Cart" %}
            </a>
          </li>
          <li>
            <a class="link text-sm" href="{% url 'favorites:list' %}">
              {% trans "Favorites" %}
            </a>
					</li>
					<li>
            <a class="link text-sm" href="{% url 'accounts:profile' %}">
              {% trans "Profile" %}
            </a>
					</li>
				</ul>
			</nav>
			<nav>
				<h2 class="text-sm text-on-surface font-bold mb-2">
					{% trans "About the company" %}
				</h2>
				<ul>
					<li>
						<a class="link text-sm" href="{% url 'pages:contact' %}">{% trans "Contacts" %}</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'vacancies:list' %}">{% trans "Vacancies" %}</a>
					</li>
				</ul>
			</nav>
			<nav>
				<h2 class="text-sm text-on-surface font-bold mb-2">
					{% trans "Legal information" %}
				</h2>
				<ul>
					<li>
						<a class="link text-sm" href="{% url 'pages:privacy' %}">
							{% trans "Privacy Policy" %}
						</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'pages:offer' %}">
							{% trans "Public Offer" %}
						</a>
					</li>
					<li>
						<a class="link text-sm" href="{% url 'pages:terms' %}">
							{% trans "Terms of Service" %}
						</a>
					</li>
				</ul>
			</nav>
			<div class="ml-auto max-md:ml-0 w-fit">
				<h2 class="text-sm text-on-surface font-bold mb-4">
					{% trans "Download the app" %}
				</h2>
				<div class="flex flex-col items-center gap-4 border border-edge p-4 rounded-box">
					<img class="size-30" src="{% static 'img/qr-code-apps.png' %}" alt="" draggable="false">
					<p class="w-40 text-xs text-center text-on-surface/60">{% trans "Point your camera and download the app" %}</p>
				</div>
			</div>
		</div>
		<div class="flex justify-between max-md:flex-col gap-4">
	    <small class="text-sm text-on-surface/60">&copy; <time datetime="2025">2025</time>-<time datetime="{% now 'Y' %}">{% now "Y" %}</time> marlinio.ru &bull; Марлин. {% trans "All rights reserved." %}</small>
			<form action="{% url 'set_language' %}" method="post" class="flex gap-2">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <button type="submit" name="language" value="ru" class="link text-sm">Русскоязычная версия</button>
        <span class="text-on-surface/60 select-none">/</span>
        <button type="submit" name="language" value="en" class="link text-sm">English version</button>
      </form>
		</div>
	</div>
</footer>
