{% load i18n %}

<footer class="footer {{ mix }}">
  <nav class="footer__nav" aria-label="{% trans 'Additional' %}">
	  <ul class="footer__list">
		  <li class="footer__item">
	      <a class="footer__link link" href="{% url 'pages:privacy' %}">{% trans "Privacy Policy" %}</a>
		  </li>
		  <li class="footer__item">
	      <a class="footer__link link" href="{% url 'pages:offer' %}">{% trans "Public Offer" %}</a>
		  </li>
		  <li class="footer__item">
	      <a class="footer__link link" href="{% url 'pages:terms' %}">{% trans "Terms of Service" %}</a>
		  </li>
		  <li class="footer__item">
	      <a class="footer__link link" href="{% url 'pages:contact' %}">{% trans "Contacts" %}</a>
		  </li>
		  <li class="footer__item">
	      <a class="footer__link link" href="{% url 'vacancies:list' %}">{% trans "Vacancies" %}</a>
		  </li>
	  </ul>
  </nav>
  <small class="footer__copyright">&copy; <time datetime="{% now 'Y' %}">{% now "Y" %}</time> Marlin — {% trans "All rights reserved." %}</small>
</footer>
