<footer class="footer">
    <div class="footer__links">
        <a href="#" class="footer__links-link">Политика конфиденциальности</a>
        <a href="#" class="footer__links-link">Публичная оферта</a>
        <a href="#" class="footer__links-link">Пользовательское соглашение</a>
        <a href="{% url 'pages:contact' %}" class="footer__links-link">Контакты</a>
        <a href="#" class="footer__links-link">Новости</a>
        <a href="#" class="footer__links-link">Вакансии</a>
    </div>
    <p class="footer__copyright">© 2025 Marlin — Все права защищены.</p>
</footer>
