{% load i18n %}

<footer class="footer">
    <div class="footer__links">
        <a href="{% url 'pages:privacy' %}" class="footer__links-link">{% trans "Privacy Policy" %}</a>
        <a href="{% url 'pages:offer' %}" class="footer__links-link">{% trans "Public Offer" %}</a>
        <a href="{% url 'pages:terms' %}" class="footer__links-link">{% trans "Terms of Service" %}</a>
        <a href="{% url 'pages:contact' %}" class="footer__links-link">{% trans "Contacts" %}</a>
        <a href="{% url 'vacancies:vacancy_list' %}" class="footer__links-link">{% trans "Vacancies" %}</a>
    </div>
    <p class="footer__copyright">© {% now "Y" %} Marlin — {% trans "All rights reserved." %}</p>
</footer>
