{% load static i18n %}

<header class="header {{ mix }}">
	<a class="header__brand" href="{% url 'pages:home' %}" aria-label="Marlin — {% trans 'Home' %}">
		<img class="header__logo" src="{% static 'img/logo.png' %}" alt="" draggable="false" aria-hidden="true">
		<div class="header__info" aria-hidden="true">
			<p class="header__title">Marlin</p>
			<small class="header__subtitle">{% trans "Fresh products near you" %}</small>
		</div>
	</a>

	{% with request.resolver_match.view_name as current_view_name %}
		<nav class="header__nav" aria-label="{% trans 'Main' %}">
			<ul class="header__list">
				<li class="header__item">
					<a class="header__link {% if current_view_name == 'catalog:category-list' %}header__link--active{% endif %}" href="{% url 'catalog:category-list' %}" {% if current_view_name == 'catalog:category-list' %}aria-current="page"{% endif %}>{% trans "Catalog" %}</a>
				</li>
				<li class="header__item">
          <a class="header__link {% if current_view_name == 'carts:detail' %}header__link--active{% endif %}" href="{% url 'carts:detail' %}" {% if current_view_name == 'carts:detail' %}aria-current="page"{% endif %}>{% trans "Cart" %}</a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="header__item">
						<a class="header__link {% if current_view_name == 'accounts:profile' %}header__link--active{% endif %}" href="{% url 'accounts:profile' %}" {% if current_view_name == 'accounts:profile' %}aria-current="page"{% endif %}>{% trans "Profile" %}</a>
					</li>
					<li class="header__item">
						<form action="{% url 'accounts:signout' %}" method="post">
							{% csrf_token %}
		          <button class="header__link" type="submit">{% trans "Sign out" %}</button>
						</form>
					</li>
				{% else %}
					<li class="header__item">
            <a class="header__link {% if current_view_name == 'accounts:signin' %}header__link--active{% endif %}" href="{% url 'accounts:signin' %}" {% if current_view_name == 'accounts:signin' %}aria-current="page"{% endif %}>{% trans "Sign in" %}</a>
          </li>
				{% endif %}
			</ul>
		</nav>
	{% endwith %}
</header>
