{% load i18n %}

<section class="hero {{ mix }}">
  <div class="hero__content">
    <h1 class="hero__title">{{ title }}</h1>
    <p class="hero__description">{{ description }}</p>

    {% if search_url %}
      <form class="hero__search-form" method="get" action="{{ search_url }}">
        <input class="hero__search input" name="q" value="{{ search_query|default_if_none:'' }}" autocomplete="off" placeholder="{{ search_placeholder }}">
        <span class="hero__search-badge badge badge--absolute hero__search-badge--empty">{% trans "Enter query" %}</span>
	      <span class="hero__search-badge badge badge--absolute hero__search-badge--typing">{% trans "Press enter" %}</span>
      </form>
    {% endif %}
  </div>
</section>
