{% load i18n %}

{% if messages %}
<div class="messages">
  {% for message in messages %}
    <div class="message message--{{ message.tags }}">
      <div class="message__content">
        <p class="message__title">
          {% if message.tags == 'success' %}{% trans "Success!" %}{% endif %}
          {% if message.tags == 'error' %}{% trans "Error!" %}{% endif %}
          {% if message.tags == 'warning' %}{% trans "Warning!" %}{% endif %}
          {% if message.tags == 'info' %}{% trans "Info" %}{% endif %}
        </p>
        <p class="message__text">{{ message }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
