{% load i18n %}

{% if messages %}
	<section class="messages" role="status" aria-label="{% trans 'System messages' %}">
	  {% for message in messages %}
	    <article class="message message--{{ message.tags }}">
	      <div class="message__content">
	        <p class="message__title">
	          {% if message.tags == "success" %}
		          {% trans "Success!" %}
	          {% elif message.tags == "error" %}
		          {% trans "Error!" %}
	          {% elif message.tags == "warning" %}
		          {% trans "Warning!" %}
	          {% elif message.tags == "info" %}
		          {% trans "Info" %}
		        {% endif %}
	        </p>
	        <p class="message__description">{{ message }}</p>
	      </div>
	    </article>
	  {% endfor %}
	</section>
{% endif %}
