{% load i18n static %}

<div class="flex flex-col">
  <p class="font-bold text-on-surface text-2xl max-md:text-xl">
    {% blocktrans count count_cart_items=available_cart_items|length %}Your order <span class="font-medium text-on-surface/60 text-sm">{{ count_cart_items }} product</span>{% plural %}Your order <span class="font-medium text-on-surface/60 text-sm">{{ count_cart_items }} products</span>{% endblocktrans %}
  </p>
  <ul class="flex flex-col divide-y divide-surface-dim">
    {% for cart_item in available_cart_items %}
      {% with product=cart_item.product %}
        <li class="flex items-start gap-4 py-4">
			    <a href="{{ product.get_absolute_url }}">
			      <div class="relative bg-surface-dim rounded-box size-20 max-md:size-18 overflow-hidden flex items-center justify-center">
			        {% if product.discount %}
			          <span class="absolute top-1 right-1 z-5 bg-accent text-on-surface text-xs font-bold px-1.5 py-0.5 rounded-full">-{{ product.discount|floatformat:"u" }}%</span>
			        {% endif %}
			        <img class="p-2 mix-blend-darken max-size-full object-contain" src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}{% static 'catalog/img/default-product-image.webp' %}{% endif %}" alt="" draggable="false">
			      </div>
			    </a>

          <div class="flex flex-col flex-1 w-full justify-between gap-2 max-md:justify-normal h-20 max-md:h-auto">
            <div class="flex justify-between">
              <a href="{{ product.get_absolute_url }}">
                <div class="flex flex-col">
                  <h3 class="font-bold text-on-surface text-sm">{{ product.name }}</h3>
                  <p class="font-bold text-xs text-on-surface/60">{{ cart_item.quantity|floatformat:"-2u" }} {{ product.get_unit_type_display }} × {{ cart_item.price_snapshot }} ₽</p>
                </div>
              </a>
              <div class="min-w-[100px] flex justify-end">
                <p class="font-bold text-on-surface text-sm min-w-fit rounded-md">{{ cart_item.total_price }} ₽</p>
              </div>
            </div>
          </div>
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
</div>
