{% extends "base.html" %}
{% load static i18n can_increment_cart_item_quantity can_decrement_cart_item_quantity %}

{% block title %}{% trans "Cart" %}{% endblock %}

{% block content %}
	<section class="flex flex-col gap-8 max-md:gap-4">
		<div class="flex flex-col">
			{% include "includes/_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
			<h1 class="font-bold text-on-surface text-3xl max-md:text-2xl">{% trans "Cart" %}</h1>
		</div>

		<div id="cart-content">
			{% if cart.cart_items.exists %}
				<div class="flex gap-8 max-md:gap-4 max-md:flex-col">
					<div class="flex flex-col flex-1 gap-4">
						{% include "carts/includes/_cart_items_list.html" %}
					</div>
					{% include "carts/includes/_cart_summary.html" %}
				</div>
			{% else %}
				{% include "carts/includes/_cart_empty.html" %}
			{% endif %}
		</div>
	</section>
{% endblock %}
