.badge {
  color: white;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--radius-pill);
  width: max-content;
}

.badge--absolute {
  z-index: var(--z-index-modal);
  position: absolute;
}
