.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: var(--line-height-none);
}

.header__brand {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.header__logo {
  width: 55px;
  height: 55px;
}

.header__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--text-color);
}

.header__subtitle {
  font-size: var(--font-size-sm);
  color: var(--text-color-muted);
}

.header__list {
  display: flex;
  gap: var(--space-sm);
  flex-wrap: wrap;
  justify-content: center;
}

.header__link--active {
  color: var(--link-text-color-hover);
}

@media (max-width: 575px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-sm);
  }
}
