.input {
  padding: var(--space-sm);
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-radius: var(--radius-pill);
  font-size: var(--font-size-md);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--input-border-color);
  line-height: var(--line-height-none);
}

.input--readonly {
  color: var(--text-color-muted);
}

.input--textarea {
  resize: vertical;
  outline: none;
  overflow: hidden;
  min-height: 100px;
  border-radius: var(--radius-xxl);
}

.input--checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: var(--z-index-back);
}

.input--span-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--radius-sm);
  margin-right: var(--space-xxs);
  vertical-align: sub;
  user-select: none;
}

.input--span-checkbox::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: 1px solid var(--input-text-color);
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  display: none;
}

.input--checkbox:checked + .input--span-checkbox::before {
  display: block;
}

.input--radio {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: var(--z-index-back);
}

.input--span-radio {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--radius-pill);
  margin-right: var(--space-xxs);
  vertical-align: sub;
  user-select: none;
}

.input--span-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--input-text-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
  line-height: var(--line-height-none);
}

.input--radio:checked + .input--span-radio::before {
  display: block;
}


.input::placeholder {
  color: var(--input-placeholder-color);
  opacity: 1
}
