{% extends "base.html" %}
{% load static i18n %}

{% block title %}403{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 items-center justify-center text-center min-h-[70vh]">
    <h1 class="font-bold text-base-content/60 text-7xl">403</h1>
    <h2 class="font-bold text-base-content text-3xl max-md:text-2xl">{% trans "Oops! Access denied" %}</h2>
    <p class="text-base-content/60 text-base">{% trans "You don't have permission to access this page." %}</p>
    <a class="button button--primary mt-2" href="{% url 'catalog:category-list' %}">{% trans "Return to catalog" %}</a>
  </section>
{% endblock %}
