{% extends 'base.html' %}

{% load static i18n %}

{% block title %}404{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}

{% block content %}
<section class="error">
    <h1 class="error__code">404</h1>
    <h2 class="error__title">{% trans "Oops! The page you are looking for was not found" %}</h2>
    <p class="error__text">{% trans "The page may have been removed or you followed an incorrect link." %}</p>
    <a href="{% url 'catalog:product_list' %}" class="error__button">{% trans "Return to catalog" %}</a>
</section>
{% endblock %}
