{% extends 'base.html' %}

{% load static %}

{% block title %}404{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}

{% block content %}
<section class="error">
    <h1 class="error__code">404</h1>
    <h2 class="error__title">Упс! Страница, которую вы ищете, не найдена</h2>
    <p class="error__text">Возможно, страница была удалена или вы перешли по неверной ссылке.</p>
    <a href="{% url 'catalog:product_list' %}" class="error__button">Вернуться в каталог</a>
</section>
{% endblock %}
