<!DOCTYPE html>
{% load static i18n compress %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} — Марлин</title>
		<script src="{% static 'js/console-banner.js' %}"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% compress css %}
			<link rel="stylesheet" href="{% static 'css/output.css' %}">
			{% block css %}{% endblock %}
		{% endcompress %}
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	</head>
	<body class="flex flex-col font-body bg-surface font-medium relative min-h-screen min-h-[100dvh]" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
		{% include "includes/_header.html" %}
		{% include "includes/_messages.html" %}
		<main class="flex flex-col flex-auto {% block mix %}{% endblock %}">
	    <div class="w-full max-w-page mx-auto p-8 max-md:p-4">
        {% block content %}{% endblock %}
	    </div>
		</main>
		{% include "includes/_footer.html" %}

		<div class="fixed bottom-5 pointer-events-none z-10 left-5 right-5 flex justify-between max-md:flex-col max-md:items-end max-md:right-5 max-md:left-auto max-md:bottom-2.5 max-md:gap-2">
		  <button id="scroll-top-btn" class="pointer-events-auto button button--primary opacity-0 pointer-events-none px-3 py-3 size-12 flex items-center justify-center" type="button">
		    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none"><path fill="#fff" fill-rule="evenodd" d="M12 20.5a1 1 0 0 0 1-1V6.414l4.293 4.293a1 1 0 0 0 1.414-1.414l-6-6a1 1 0 0 0-1.414 0l-6 6a1 1 0 0 0 1.414 1.414L11 6.414V19.5a1 1 0 0 0 1 1Z" clip-rule="evenodd"/></svg>
		  </button>
		  <button class="pointer-events-auto button button--primary px-3 py-3 size-12 flex items-center justify-center" type="button">
		    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
		  </button>
		</div>

		<script src="{% static 'js/scroll-top.js' %}"></script>
		<script src="{% static 'js/htmx.min.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>
