.categories {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.categories__group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.categories__group-link {
  width: max-content;
}

.categories__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    display: flex;
    align-items: baseline;
    line-height: var(--line-height-snug);
}

.categories__title svg {
    fill: var(--text-color);
    height: 13.5px;
    margin-left: var(--space-xxs);
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.category-card {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: var(--radius-xl);
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-duration) var(--transition-timing-function)
}

.category-card:hover {
    transform: translateY(var(--translate-y));
}

.category-card__title {
    font-size: var(--font-size-sm);
    color: black;
    position: absolute;
    top: 0;
    padding: var(--space-sm);
    line-height: var(--line-height-snug);
}
