.breadcrumbs {
    margin-top: 30px;
}

.breadcrumbs__link {
    font-size: var(--font-size-sm);
    color: var(--color-text);
    font-weight: var(--font-weight-medium);
}

.breadcrumbs__link:hover {
    color: var(--button-bg-color-hover);
}

.breadcrumbs__current, .breadcrumbs__separator {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--muted-color-text);
}

.product {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.product__images,
.product__info {
    flex: 1;
}

.product__images {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: var(--radius-md);
    background-color: white;
    filter: var(--image-filter);
    overflow: hidden;
}

.product__images,
.product__images * {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.product__images .swiper-button-next,
.product__images .swiper-button-prev {
    color: var(--muted-color-text);
}

.product__images .swiper-button-next:hover,
.product__images .swiper-button-prev:hover {
    color: black;
}

.product__images .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.product__images .swiper-button-next::after,
.product__images .swiper-button-prev::after {
    font-size: 25px;
    font-weight: var(--font-weight-bold);
}

.product__images .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__images-pagination .swiper-pagination-bullet-active {
  background-color: black;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.product__images-item {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: var(--radius-sm);
}

.product__discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff4d4f;
    color: #fff;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    padding: 7px 10px;
    border-radius: var(--radius-md);
    z-index: 10;
}

.product__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
    margin-bottom: 10px;
}

.product__price {
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 15px;
}

.current-price {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxl);
    color: var(--color-text);
}

.old-price {
    font-size: var(--font-size-sm);
    text-decoration: line-through;
    color: var(--muted-color-text);
}

.product__button {
    padding: 15px;
    border-radius: var(--radius-xl);
    background-color: var(--button-bg-color);
    color: var(--button-color-text);
    margin-top: auto;
    font-weight: var(--font-weight-semibold);
    width: 200px;
    text-align: center;
    margin-bottom: 25px;
}

.product__button:hover {
    background-color: var(--button-bg-color-hover);
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__unit {
    margin-bottom: 10px;
    color: var(--muted-color-text);
    font-size: var(--font-size-sm);
}

.product__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.product__subtitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.product__text {
    color: var(--muted-color-text);
    font-size: var(--font-size-sm);
}

.product__nutrition-list {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.product__nutrition-item {
    text-align: center;
    position: relative;
    flex: 1;
}

.product__nutrition-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: var(--muted-color-text, #e0e0e0);
    opacity: 0.3;
}

.product__nutrition-value {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.product__nutrition-label {
    color: var(--muted-color-text);
    font-size: var(--font-size-xs);
}

.characteristics__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.characteristics__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--muted-color-text);
    font-size: var(--font-size-sm);
    padding-bottom: 5px;
}

.characteristics__label {
    color: var(--muted-color-text);
}

.characteristics__value {
    text-align: right;
}

.characteristics__empty, .nutrition__empty {
    color: var(--muted-color-text);
    font-size: var(--font-size-xs);
}

@media (max-width: 900px) {
    .product {
        flex-direction: column;
    }

    .product__images {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .product__images-item {
        width: 90%;
        height: 90%;
    }
}
