.products {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  flex: 1
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: var(--space-md);
  flex: 1;
  align-content: start;
}

.product-card {
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration) var(--transition-timing-function);
  padding: 0;
}

.product-card:hover {
  transform: translateY(var(--translate-y));
}

.product-card__discount-badge {
  top: 15px;
  left: 15px;
  background: var(--red-badge-gradient);
}

.product-card__image-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: var(--space-sm);
}

.product-card__image {
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius-xxl) var(--radius-xxl) 0 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--space-md) var(--space-md) var(--space-md);
  gap: var(--space-xs);
}

.product-card__name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  line-height: var(--line-height-snug);
}

.product-card__price {
  display: flex;
  align-items: baseline;
  gap: var(--space-sm);
}

.product-card__price-current {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  color: var(--text-color);
}

.product-card__price-old {
  font-size: var(--font-size-sm);
  text-decoration: line-through;
  color: var(--text-color-muted);
}

.product-card__button {
  width: 100%;
}

.products__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.products__empty-text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

@media (max-width: 767px) {
  .products {
    flex-direction: column;
  }
}
