.product {
  display: flex;
  gap: var(--space-md);
}

.product__swiper,
.product__info {
  flex: 1;
}

.product__swiper {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: var(--radius-xxl);
  overflow: hidden;
}

.product__swiper,
.product__swiper * {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.product__swiper .swiper-button-next,
.product__swiper .swiper-button-prev {
  color: var(--text-color-muted);
}

.product__swiper .swiper-button-next:hover,
.product__swiper .swiper-button-prev:hover {
  color: black;
}

.product__swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.product__swiper .swiper-button-next::after,
.product__swiper .swiper-button-prev::after {
  font-size: 25px;
  font-weight: var(--font-weight-bold);
}

.product__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  display: none;1
}

.product__swiper-item {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.product__discount-badge {
  top: 15px;
  left: 15px;
  background: var(--red-badge-gradient);
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.product__name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-snug);
}

.product__unit {
  color: var(--text-color-muted);
  font-size: var(--font-size-md);
}

.product__price {
  display: flex;
  align-items: baseline;
  gap: var(--space-sm);
}

.product__price-current {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxl);
    color: var(--text-color);
}

.product__price-old {
    font-size: var(--font-size-md);
    text-decoration: line-through;
    color: var(--text-color-muted);
}

.product__button {
  width: max-content;
}

.product__details {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.product__category,
.product__description,
.product__composition {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  align-items: flex-start;
}

.product__value--collapsed {
    max-height: 60px;
    overflow: hidden;
}

.product__label {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-snug);
}

.product__value {
  color: var(--text-color-muted);
  font-size: var(--font-size-md);
}

.product__nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.product__nutrition-list {
  display: flex;
}

.product__nutrition-item {
  text-align: center;
  position: relative;
  flex: 1;
  padding: 0 var(--space-xs);
}

.product__nutrition-label {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-semibold);
}

.product__nutrition-value {
  color: var(--text-color-muted);
  font-size: var(--font-size-md);
}

.product__nutrition-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 35px;
    background-color: var(--text-color-muted);
}

.product__characteristics {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.product__characteristics-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.product__characteristics-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--text-color-muted);
  font-size: var(--font-size-sm);
}

.product__characteristics-label {
  color: var(--text-color-muted);
  font-size: var(--font-size-md);
  line-height: var(--line-height-snug);
  text-align: left;
}

.product__characteristics-value {
  color: var(--text-color);
  font-size: var(--font-size-md);
  text-align: right;
}

@media (max-width: 991px) {
    .product {
        flex-direction: column;
    }

    .product__swiper {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
}
