.products {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  flex: 1
}

.products--centered {
  align-items: center;
  justify-content: center
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: var(--space-md);
}

.product-card {
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration) var(--transition-timing-function);
  padding: 0;
}

.product-card:hover {
  transform: translateY(var(--translate-y));
}

.product-card__discount, .product-card__stock {
  position: absolute;
  top: 15px;
  color: white;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--radius-pill);
  z-index: var(--z-index-modal);
}

.product-card__discount {
  left: 15px;
  background: linear-gradient(135deg, #f44336 0%, #e57373 100%);
}

.product-card__stock {
  right: 15px;
}

.product-card__stock--many {
  background: linear-gradient(135deg, #4CAF50 0%, #8BC34A 100%);
}

.product-card__stock--very-few {
  background: linear-gradient(135deg, #f44336 0%, #e57373 100%);
}

.product-card__stock--few {
  background: linear-gradient(135deg, #ff9800 0%, #ffb74d 100%);
}

.product-card__stock--enough {
  background: linear-gradient(135deg, #2196F3 0%, #64b5f6 100%);
}

.product-card__image-wrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: var(--space-sm);
}

.product-card__image {
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius-xxl) var(--radius-xxl) 0 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--space-md) var(--space-md) var(--space-md);
  gap: var(--space-xs);
}

.product-card__name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  line-height: var(--line-height-snug);
}

.product-card__description {
  font-size: var(--font-size-sm);
  color: var(--text-color-muted);
}

.product-card__price {
  display: flex;
  align-items: baseline;
  gap: var(--space-sm);
}

.product-card__price-current {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  color: var(--text-color);
}

.product-card__price-old {
  font-size: var(--font-size-sm);
  text-decoration: line-through;
  color: var(--text-color-muted);
}

.product-card__button {
  width: 100%;
}

.products__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products__empty-text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}
