{% extends "redesign/base.html" %}
{% load static i18n %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
	<section class="flex flex-col gap-8 max-md:gap-4">
		<div class="flex flex-col">
			{% include "redesign/includes/_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
		</div>

		<div class="relative flex gap-8 max-md:flex-col">
      {% if product.discount %}
		    <span class="hidden max-md:inline absolute top-3 right-3 z-5 bg-laser-lemon text-base-content text-sm font-bold px-2 py-1 rounded-full">-{{ product.discount }}%</span>
			{% endif %}
			<div class="sticky top-[112px] flex-1 self-start min-w-0 flex gap-2 max-md:static max-md:flex-col-reverse">
			  <div id="thumbs" class="flex flex-col gap-2 max-md:flex-row">
			    {% for image in product.images.all %}
			      <div class="flex items-center bg-base-200 size-20 rounded-box overflow-hidden cursor-pointer border border-transparent" data-index="{{ forloop.counter0 }}">
			        <img class="p-2 mix-blend-darken size-full object-contain" src="{{ image.image.url }}" alt="" draggable="false">
			      </div>
			    {% endfor %}
			  </div>

			  <div id="embla" class="relative w-full aspect-square bg-base-200 rounded-box overflow-hidden">
			    <div id="embla-container" class="flex h-full">
			      {% if product.images.all %}
			        {% for image in product.images.all %}
			          <div class="bg-base-200 flex-none basis-full min-w-0 h-full">
			            <img class="p-4 mix-blend-darken size-full object-contain" src="{{ image.image.url }}" alt="" draggable="false">
			          </div>
			        {% endfor %}
			      {% else %}
			        <div class="bg-base-200 flex-none basis-full min-w-0 h-full">
			          <img class="p-4 mix-blend-darken size-full object-contain" src="{% static 'catalog/img/default-product-image.webp' %}" alt="" draggable="false">
			        </div>
			      {% endif %}
			    </div>
	        {% if product.discount %}
		        <span class="max-md:hidden absolute top-3 right-3 z-5 bg-laser-lemon text-base-content text-sm font-bold px-2 py-1 rounded-full">-{{ product.discount }}%</span>
					{% endif %}
			  </div>
			</div>

			<div class="flex-1 min-w-0 flex flex-col gap-4">
				<div class="flex flex-col gap-3 mb-4">
					<div class="flex flex-col">
						<p class="inline-flex items-center gap-1 text-sm font-bold">
							<svg class="size-4 fill-laser-lemon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M13.3621 2.56546C12.826 1.40315 11.174 1.40315 10.6379 2.56546L8.50501 7.18955L3.44814 7.78912C2.17705 7.93983 1.66657 9.51091 2.60632 10.38L6.345 13.8374L5.35257 18.832C5.10311 20.0875 6.43955 21.0585 7.55647 20.4333L12 17.946L16.4435 20.4333C17.5604 21.0585 18.8969 20.0875 18.6474 18.832L17.655 13.8374L21.3937 10.38C22.3334 9.51091 21.8229 7.93983 20.5518 7.78912L15.495 7.18955L13.3621 2.56546Z" clip-rule="evenodd"></path></svg>
						  <span class="text-base-content">4,74</span> <span class="text-base-content/60">(1428 оценок)</span>
						</p>
						<h1 class="font-bold text-base-content text-3xl max-md:text-2xl">{{ product.name }}</h1>
					</div>

					{% if product.discount %}
				    <p class="inline-flex gap-2 items-baseline font-bold">
		          <span class="text-2xl text-base-content p-1 bg-laser-lemon rounded-md">{{ product.final_price }} ₽</span>
					    <span class="relative text-xl text-base-content/60 after:text-red-400 after:absolute after:left-0 after:right-0 after:top-1/2 after:h-px after:bg-current after:rotate-[-15deg]">{{ product.price }} ₽</span>
				    </p>
	        {% else %}
						<p class="font-bold text-base-content text-2xl">{{ product.price }} ₽</p>
					{% endif %}

			    {% if product.stock %}
	          {% if not product.pk in cart_product_pks %}
	            <form action="{% url 'carts:cart-item-create' product_pk=product.pk %}" method="post" novalidate>
	              {% csrf_token %}
	              <button class="button button--primary w-[200px] max-md:w-full">{% trans "Add to Cart" %}</button>
	            </form>
	          {% else %}
	            <button class="button button--disabled w-[200px] max-md:w-full" disabled>{% trans "In cart" %}</button>
	          {% endif %}
		      {% else %}
		        <button class="button button--disabled w-[250px] max-md:w-full" disabled>{% trans "Not available" %}</button>
		      {% endif %}
				</div>

				{% if product.nutrition %}
					<div class="flex flex-col gap-1">
						<h2 class="text-base-content text-lg font-bold">{% trans "Nutritional value" %}</h2>
						<p class="text-base-content text-base">
							{% trans "Proteins" %} – {{ product.nutrition.proteins|floatformat:"1u" }} {% trans "g" %},
							{% trans "fats" %} – {{ product.nutrition.fats|floatformat:"1u" }} {% trans "g" %},
							{% trans "carbs" %} – {{ product.nutrition.carbs|floatformat:"1u" }} {% trans "g" %},
							{% trans "calories" %} – {{ product.nutrition.calories|floatformat:"1u" }} {% trans "kcal" %}
						</p>
					</div>
				{% endif %}

				{% if product.composition %}
					<div class="flex flex-col gap-1">
						<h2 class="text-base-content text-lg font-bold">{% trans "Composition" %}</h2>
						<p class="text-base-content text-base">{{ product.composition }}</p>
					</div>
				{% endif %}

				<div class="flex flex-col gap-1">
					<h2 class="text-base-content text-lg font-bold">{% trans "Description" %}</h2>
					<p class="text-base-content text-base">{{ product.description }}</p>
				</div>

				{% if product.attributes %}
					<div class="flex flex-col gap-1">
						<h2 class="text-base-content text-lg font-bold">{% trans "Characteristics" %}</h2>
						<ul class="flex flex-col gap-2">
							{% for attribute, value in product.attributes.items %}
								<li class="flex items-baseline gap-1">
									<p class="text-base-content/60 whitespace-nowrap text-sm">{{ attribute }}</p>
									<span class="flex-1 text-sm border-b border-dashed border-base-300"></span>
									<p class="text-base-content text-sm text-right">
										<span class="hidden max-md:inline">{{ value|truncatechars:20 }}</span>
										<span class="max-md:hidden">{{ value }}</span>
									</p>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
	<script src="{% static 'js/embla-carousel.umd.js' %}"></script>
  <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
