{% extends "redesign/base.html" %}
{% load static i18n get_item can_increment_cart_item_quantity can_decrement_cart_item_quantity %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
	<section class="flex flex-col gap-8 max-md:gap-4">
		<div class="flex flex-col">
			{% include "redesign/includes/_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
			<div class="flex items-baseline gap-2 max-md:gap-0 max-md:flex-col">
				<h1 class="font-bold text-base-content text-3xl max-md:text-2xl">{{ category.name }}</h1>
				<span class="text-base-content/60 text-sm">{% blocktrans count count_products=paginator.count %}{{ count_products }} product{% plural %}{{ count_products }} products{% endblocktrans %}</span>
			</div>
		</div>

		{% if products %}
			<ul class="grid gap-y-8 gap-x-4 grid-cols-5 max-lg:grid-cols-4 max-md:gap-y-4 max-md:gap-x-2 max-md:grid-cols-3 max-sm:grid-cols-2">
				{% for product in products %}
					<li>
						<a href="{{ product.get_absolute_url }}">
							<article class="h-full flex flex-col gap-3 transition duration-300 ease-in-out hover:-translate-y-0.5">
								<div class="relative bg-base-200 rounded-box aspect-square overflow-hidden flex items-center justify-center">
					        {% if product.discount %}
									  <span class="absolute top-3 right-3 z-5 bg-laser-lemon text-base-content text-sm font-bold px-2 py-1 rounded-full">-{{ product.discount|floatformat:"u" }}%</span>
									{% endif %}
									<img class="p-4 mix-blend-darken max-size-full object-contain" src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}{% static 'catalog/img/default-product-image.webp' %}{% endif %}" alt="" draggable="false">
								</div>
								<div class="flex flex-col">
									<p class="inline-flex items-center gap-1 text-sm font-bold">
										<svg class="size-4 fill-laser-lemon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M13.3621 2.56546C12.826 1.40315 11.174 1.40315 10.6379 2.56546L8.50501 7.18955L3.44814 7.78912C2.17705 7.93983 1.66657 9.51091 2.60632 10.38L6.345 13.8374L5.35257 18.832C5.10311 20.0875 6.43955 21.0585 7.55647 20.4333L12 17.946L16.4435 20.4333C17.5604 21.0585 18.8969 20.0875 18.6474 18.832L17.655 13.8374L21.3937 10.38C22.3334 9.51091 21.8229 7.93983 20.5518 7.78912L15.495 7.18955L13.3621 2.56546Z" clip-rule="evenodd"></path></svg>
										<span class="text-base-content">4.74</span> <span class="text-base-content/60">(1428 оценок)</span>
									</p>
									<h2 class="font-bold text-base-content text-base">{{ product.name }}</h2>
					        <p class="font-bold text-base-content/60 text-sm">{% trans "Price per 1" %} {{ product.get_unit_type_display }}</p>
								</div>

								{% if product.discount %}
									<p class="mt-auto inline-flex gap-2 items-baseline font-bold">
										<span class="text-base text-base-content p-1 bg-laser-lemon rounded-md">{{ product.final_price }} ₽</span>
										<span class="relative text-sm text-base-content/60 after:text-red-400 after:absolute after:left-0 after:right-0 after:top-1/2 after:h-px after:bg-current after:rotate-[-15deg]">{{ product.price }} ₽</span>
									</p>
								{% else %}
									<p class="mt-auto font-bold text-base-content text-base">{{ product.price }} ₽</p>
								{% endif %}

			          {% if product.stock %}
									{% with cart_item=cart_items_map|get_item:product.id %}
					          {% if not cart_item %}
					            <form action="{% url 'carts:cart-item-create' product_pk=product.pk %}" method="post" novalidate>
					              {% csrf_token %}
					              <button class="button button--primary w-full">{% trans "Add to Cart" %}</button>
					            </form>
					          {% else %}
											<div class="flex w-full items-center h-12 p-1 border border-primary rounded-field justify-between max-md:w-full">
												{% can_decrement_cart_item_quantity cart_item=cart_item as decrement_allowed_cart_item_quantity %}
												{% if decrement_allowed_cart_item_quantity %}
													<form action="{% url 'carts:cart-item-update-quantity' cart_item_pk=cart_item.pk %}" method="post" novalidate>
														{% csrf_token %}
														<button class="flex items-center justify-center button p-2 size-10 button--primary" type="submit" name="action" value="decrement">
															<svg class="rounded-full size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="5" y1="12" x2="19" y2="12"/></svg>
														</button>
													</form>
												{% else %}
													<button class="flex items-center justify-center button button--disabled p-2 size-10 button--primary" type="submit" name="action" value="decrement">
														<svg class="rounded-full size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="5" y1="12" x2="19" y2="12"/></svg>
													</button>
												{% endif %}

												<p class="text-base font-bold text-base-content">{{ cart_item.quantity|floatformat:"u" }} {{ product.get_unit_type_display }}</p>

												{% can_increment_cart_item_quantity cart_item=cart_item as increment_allowed_cart_item_quantity %}
			                  {% if increment_allowed_cart_item_quantity %}
				                  <form action="{% url 'carts:cart-item-update-quantity' cart_item_pk=cart_item.pk %}" method="post" novalidate>
				                    {% csrf_token %}
														<button class="flex items-center justify-center button p-2 size-10 button--primary" type="submit" name="action" value="increment">
															<svg class="rounded-full size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
														</button>
													</form>
												{% else %}
													<button class="flex items-center justify-center button button--disabled p-2 size-10 button--primary" type="submit" name="action" value="increment">
					                  <svg class="rounded-full size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
													</button>
												{% endif %}
											</div>
					          {% endif %}
									{% endwith %}
					      {% else %}
					        <button class="button button--disabled w-full" disabled>{% trans "Not available" %}</button>
					      {% endif %}
							</article>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<div class="flex flex-col gap-2 items-center justify-center text-center min-h-[50vh]">
        <p class="font-bold text-base-content text-2xl max-md:text-xl">{% trans "No available products yet" %}</p>
		    <a class="button button--primary mt-2" href="{% url 'catalog:category-list' %}">{% trans "Return to catalog" %}</a>
			</div>
		{% endif %}
	</section>
{% endblock %}
