{% load i18n spurl %}

{% if products %}
	<ul id="product-list-container" class="grid gap-y-8 gap-x-4 grid-cols-5 max-lg:grid-cols-4 max-md:gap-y-4 max-md:gap-x-2 max-md:grid-cols-3 max-sm:grid-cols-2">
		{% for product in products %}
			<li>
				{% include "catalog/includes/_product_card.html" %}
			</li>
		{% endfor %}
	</ul>

	<div id="load-more-container" class="flex justify-center">
    {% if page_obj.has_next %}
      <div id="load-more-trigger" hx-get="{% spurl path=request.get_full_path set_query='page={{ page_obj.next_page_number }}' %}" hx-target="#product-list-container" hx-swap="beforeend" hx-select="#product-list-container > li" hx-trigger="intersect once threshold:0.1" hx-indicator="#load-more-spinner"></div>
      <div id="load-more-spinner" class="spinner size-10 htmx-indicator"></div>
    {% endif %}
	</div>
{% else %}
	<div class="flex flex-col gap-2 items-center justify-center text-center min-h-[50vh]">
    <p class="font-bold text-on-surface text-2xl max-md:text-xl">{% trans "No available products yet" %}</p>
    <a class="button button--primary mt-2" href="{% url 'catalog:category-list' %}">{% trans "Return to catalog" %}</a>
	</div>
{% endif %}
