{% load i18n %}

<section class="hero {{ mix }}">
  <div class="hero__content">
    <h1 class="hero__title">{{ title }}</h1>
    <p class="hero__description">{{ description }}</p>

    {% if search_url %}
      <form class="hero__search-form" method="get" action="{{ search_url }}">
        <input class="hero__search input" name="q" value="{{ search_query|default_if_none:'' }}" autocomplete="off" placeholder="{{ search_placeholder }}">
        <span class="hero__search-badge badge badge--absolute hero__search-badge--empty">{% trans "Enter query" %}</span>
	      <span class="hero__search-badge badge badge--absolute hero__search-badge--typing">{% trans "Press enter" %}</span>
      </form>
    {% endif %}
  </div>

	<div class="hero__promo surface promo">
		<header class="hero__header">
	    <p class="promo__label">{% trans "Daily Deals" %}</p>
      <p class="promo__title">{% trans "Discounts up to 30%" %}</p>
		</header>

	  <ul class="promo__list">
		  <li class="promo__item">
			  <a href="#" aria-label="Marlin — #">
          <article class="surface product-badge" aria-hidden="true">
            <p class="product-badge__name">Бананы (-30%)</p>
            <p class="product-badge__price">89 ₽ / кг</p>
		      </article>
			  </a>
		  </li>
		  <li class="promo__item">
			  <a href="#" aria-label="Marlin — #">
	        <article class="surface product-badge" aria-hidden="true">
	          <p class="product-badge__name">Молоко (-19%)</p>
	          <p class="product-badge__price">79 ₽</p>
	        </article>
			  </a>
		  </li>
	  </ul>
  </div>
</section>
