{% extends "redesign/base.html" %}
{% load static i18n %}

{% block title %}404{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 items-center justify-center text-center min-h-[70vh]">
    <h1 class="font-bold text-base-content/60 text-7xl">404</h1>
    <h2 class="font-bold text-base-content text-3xl">{% trans "Oops! The page you are looking for was not found" %}</h2>
    <p class="text-base-content/60 text-base">{% trans "The page may have been deleted or you followed an incorrect link." %}</p>
    <a class="button button--primary mt-2" href="{% url 'catalog:category-list' %}">{% trans "Return to catalog" %}</a>
  </section>
{% endblock %}
